<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Tiya Golf Club - Free HTML CSS Template</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/templatemo-tiya-golf-club.css" rel="stylesheet">
        <link href="css/stylepro.css" rel="stylesheet">




    </head>
    
    <body>

        <style>
            body {
            background-color: rgb(83, 143, 211);
          }

        </style>

        <main>
            <nav class="navbar navbar-expand-lg">                
                <div class="container">
                    <a class="navbar-brand d-flex align-items-center" href="index.html">
                        <img src="images/logo.png" class="navbar-brand-image img-fluid" alt="Project Name">
                        <span class="navbar-brand-text">
                            Name
                            <small>Project Detail</small>
                        </span>
                    </a>

                    
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="templates/index.html">Home</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="templates/about.html">About</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="templates/task.html">Task</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        
            <div class="centerbox">
                <h1>Multi Search with Combo Box</h1>
                <p class="main-heading">Use jQuery to select between search fields with a button combo box girsngfsdiofgine
                  </p>
                <div class="main-form-container">
                  <form id="" class="" method="post">
                    <input type="text" class="main-input main-name" name="NAME" value="Search by URL" onfocus="clearText(this)" onblur="replaceText(this)" /><input type="text" class="main-input main-location" name="LOCATION" value="Search by city or postal code" onfocus="clearText(this)"
                      onblur="replaceText(this)" /><button type="button" class="main-btn"><p class="search-small">SEARCH BY</p><p class="search-large">URL</p></button>
                    <ul class="search-description">
                      <li>By Location</li>
                      <li>By Name</li>
                    </ul>
                    <input id="main-submit" class="" type="submit" value="Search" />
                  </form>
                </div>
              </div>
              <!-- mobile submit -->
              <button type="button" id="main-submit-mobile">Search</button>
              <!-- partial -->
                <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
                
            
    </main>

    <footer class="site-footer">
       
        
    </footer>


    <!-- JAVASCRIPT FILES -->
    <script src="templates/js/jquery.min.js"></script>
    <script src="templates/js/bootstrap.bundle.min.js"></script>
    <script src="templates/js/jquery.sticky.js"></script>
    <script src="templates/js/click-scroll.js"></script>
    <script src="templates/js/animated-headline.js"></script>
    <script src="templates/js/modernizr.js"></script>
    <script src="templates/js/custom.js"></script>
    <script src="templates/js/script.js"></script>

</body>
</html>